/***** BASE STYLES *****/

body {
  font-family: 'Karla', sans-serif;
  margin: 0 auto;
}

#about, #work {
    height: 400px;
    padding: 50px 50px
}

/***** GRID *****/

.full-width {
    width: 1200px;
    margin: 0 auto;
}

.half-width {
  width: 600px;
  float: left;
  margin: 0 auto;
}

.third-width {
  width: 400px;
  float: left;
  margin: 0 auto;
}

/***** HEADER *****/
header {
  color: #ffffff;
  height: 800px;
}

header h1 {
  color: #ffff33;
  font-family: 'Pacifico', cursive;
  font-size: 72px;
  letter-spacing: 2px;
  margin: 0 auto;
  padding: 50px 0;
}

header h2 {
  color: #939d9f;
}

nav {
    float: right;
    padding: 55px 35px;
}

nav ul li{
    display: inline-block;
}

nav ul li a {
    color: #303536;
    font-size: 18px;
    padding-left: 70px;
    text-decoration: none;
    text-transform: uppercase;
}

header h3 {
    clear: both;
    color: #303536;
    font-family: "Karla", sans-serif;
    font-size: 40px;
    line-height: 48px;
    margin-top: 25px;
    padding: 50px 0;
    width: 960px;
}

/***** ABOUT *****/

#about {
  background-color: #303536;
  height: 350px;
}

#about .full-width {
  height: 400px;
  margin: 0 auto;
  padding: 80px 0;

}

#about h2 {
  clear:left;
  color: #ffff33;
  font-family: 'Pacifico', cursive;
  font-size: 44px;
  line-height: 50px;
  letter-spacing: 3px;
}

#about p {
  color: #ffffff;
  font-size: 19px;
  letter-spacing: 0.75px;
  line-height: 24px;
  padding-right: 35px;
  text-align: justify;
  margin: auto;
}

/***** WORK *****/
#work {
  background-color: #ffffff;
}

#work .full-width {
  padding-top: 50px;
  padding-right: 0px;
  padding-bottom: 50px;
  padding-left: 0;

}

#work i {
  color: #3c4244;
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 10px;
  padding-left: 35px;
}

#work h3 {
  color: #2b2b2b;
  font-size: 24px;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0px;
  padding-left: 35px;
  width: 350px;
}

#work p{
  color: #2b2b2b;
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  padding-top: 0;
  padding-right: 35px;
  padding-bottom: 100px;
  padding-left: 35px;
  text-align: justify;
}

/***** CONTACT *****/

#contact {
    background-color: #303536;
}

#contact .full-width {
    padding: 50px 0;
}

#contact-img {
    padding-left: 250px;
}

#contact h2, #email-header, #contact ul {
    padding-left: 25px;
}

#contact h2 {
    color: #ffffff;
    font-family: 'Karla', sans-serif;;
    font-size: 38px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 38px;
}

#email-header{
    color: #ffff33;
    font-family: 'Pacifico', cursive;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 32px;
    margin: -30px 0 5px 0;
    padding: 30px 10px 15px 25px;
}

#contact a {
    color: #ffffff;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 75px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 0px;
    padding: 75px 25px 0 25px;
    text-decoration: none;
}

#contact ul {
    color: #ffffff;
    list-style: none;
    margin-top: 30px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: -25px;
    padding-left: 25px;
}

#contact ul li {
     display: inline-block;
}

#contact ul img {
    padding-right: 10px;
}

/***** FOOTER *****/

footer {
  background-color: #242729;
  margin: auto;
  overflow: auto;
}

footer h4 {
  color: #ffffff;
  font-family: "Karla",sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: center;
}

footer span {
  color: #ffff33;
}
